<template>
  <footer class="d-flex justify-content-center align-items center">
    <p class="font-weight-bold font-size-lg pt-2">
      &copy; {{ new Date().getFullYear() }} My Application
    </p>
  </footer>
</template>

<script>
export default {};
</script>
