<template>
  <div id="app" class="d-flex flex-column">
    <Navbar />
    <div class="container py-5 flex-grow-1">
      <router-view />
    </div>
    <Footer />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Navbar from '@/components/Layout/Navbar.vue';
import Footer from '@/components/Layout/Footer.vue';

export default Vue.extend({
  components: {
    Navbar,
    Footer,
  },
});
</script>
